#inputfield {
    border-radius: 70px;
    border-color:rgb(129, 128, 128, 0.5);
}
table {
    border-collapse: collapse;
}

td, th {
    border: 2px solid black;
    text-align: center;
    padding: 4px;
}